@model IEnumerable<MvcPracticaExamenVideojuegos.Models.VideoJuego>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="VideoJuegos" asp-action="CreateVideojuego" class="btn btn-dark">Añadir</a>
</p>

@foreach (var item in Model) {
            <div class="card float-sm-end" style="width: 18rem;">
                <img class="card-img-top" src="@item.Imagen" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <p class="card-text">@item.Precio</p>
                     <a asp-controller="VideoJuegos" asp-action="Detalles" class="btn btn-info" asp-route-idvideojuego="@item.IdVideojuego">Detalles</a>
                     <a asp-controller="VideoJuegos" asp-action="DeleteVideojuego" class="btn btn-danger" asp-route-idvideojuego="@item.IdVideojuego">Eliminar</a>
                    <a asp-controller="VideoJuegos" asp-action="EditVideojuego" class="btn btn-warning" asp-route-idvideojuego="@item.IdVideojuego">Modificar</a>
                </div>
            </div>
               
}
    

